absl-py
accelerate
aiohttp
antlr4-python3-runtime
anyio
argon2-cffi
arrow
beautifulsoup4
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
cupy-cuda12x
datasets
debugpy
defusedxml
dill
diskcache
dnspython
einops
evaluate
fastapi
filelock
fonttools
frozenlist
fsspec
gguf
grpcio
h11
httpcore
httpx
huggingface-hub
idna
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema
jupyterlab
kiwisolver
lark
llguidance
llvmlite
lm-format-enforcer
Markdown
matplotlib
modelscope
mpmath
msgpack
multiprocess
nbclient
nbconvert
networkx
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
openai
opencv-python-headless
pandas
pillow
protobuf
psutil
pydantic
Pygments
pyparsing
python-dateutil
python-dotenv
PyYAML
pyzmq
ray
regex
requests
rich
rouge_score
safetensors
scikit-learn
scipy
sentencepiece
setuptools
six
soundfile
starlette
sympy
tensorboard
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
triton
typing_extensions
urllib3
uvicorn
vllm
websocket-client
websockets
xformers
xxhash
yarl
zstandard
